.main__footer {
  height: 50vh;
  width: 100%;
  background-color: #0c0b0b;
  padding-left: 20px;
  padding-top: 10px;
}

.footer__links {
  display: flex;
  height: 40vh;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 18px;
}

.link__gmail h1 {
  margin-bottom: 15px;
  font-size: 20px;
}

.social__links {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-evenly;
}

.link__socials h1 {
  font-size: 20px;
}

.social__links a {
  text-decoration: none;
  color: white;
}

.explore__links {
  display: flex;
  flex-direction: column;
  height: 25vh;
}

.explore__links a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

.link__explore h1 {
  font-size: 20px;
}
