.Home__main {
  height: 90vh;
  width: 100%;
}

.Home__left {
  width: 20vw;
  align-items: center;
  margin-left: 20px;
  padding-top: 30px;
}
.Home__headline {
  height: 13vh;
}

.Home__headline span {
  color: #016331;
}

video{
  z-index: 99;
}
